@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="bg-dark text-light">
    <div class="container mt-5 col-md-4">
        <h3>Gestão Automotiva</h3>
        <form method="post">
            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required />
            </div>
            <div class="mb-3">
                <label>Senha</label>
                <input type="password" name="senha" class="form-control" required />
            </div>
            @if (ViewBag.Erro != null)
            {
                <div class="alert alert-danger">@ViewBag.Erro</div>
            }
            <button class="btn btn-primary">Entrar</button>
        </form>
    </div>
</body>
</html>
