@model GestaoAutomotiva.Models.Cliente

<h2 class="text-light">Adicionar Cliente</h2>

<form method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" id="Nome" name="Nome" class="form-control" value="@Model.Nome" required />
    </div>

    <div class="form-group">
        <label for="Endereco">Endereço</label>
        <input type="text" id="Endereco" name="Endereco" class="form-control" value="@Model.Endereco" required />
    </div>

    <div class="form-group">
        <label for="Telefone">Telefone</label>
        <input type="text" id="Telefone" name="Telefone" class="form-control" value="@Model.Telefone" required />
    </div>

    <div class="form-group">
        <label for="CPF">CPF</label>
        <input type="text" id="CPF" name="CPF" class="form-control" value="@Model.CPF" required />
    </div>

    <button type="submit" class="btn btn-outline-light mt-4">Salvar Cliente</button>
    <a asp-action="Index" class="btn btn-secondary mt-4">Cancelar</a>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var telefoneInput = document.getElementById('Telefone');

        telefoneInput.addEventListener('input', function (event) {
            var value = telefoneInput.value.replace(/\D/g, ''); // Remove tudo que não for número
            if (value.length <= 10) {
                // Formato (XX) XXXX-XXXX
                telefoneInput.value = value.replace(/(\d{2})(\d{4})(\d{4})/, '($1) $2-$3');
            } else {
                // Formato (XX) XXXXX-XXXX
                telefoneInput.value = value.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
            }
        });

    });

    document.addEventListener('DOMContentLoaded', function () {
        var cpfInput = document.getElementById('CPF');

        cpfInput.addEventListener('input', function (event) {
            var value = cpfInput.value.replace(/\D/g, ''); // Remove tudo que não for número
            if (value.length <= 11) {
                // Formato XXX.XXX.XXX-XX
                cpfInput.value = value.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
            }
        });
    });
</script>

