@{
    ViewData["Title"] = "Início";
}

<div class="hero  margin-left: 200px;">
    <div class="overlay animate__animated animate__fadeInDown">
        <h1 class="display-4 fw-bold">Construa sua próxima história</h1>
        <p class="lead">Tecnologia, tradição e performance.</p>
        <a class="btn btn-outline-light btn-lg mt-3" href="/Atividade">
            <i class="bi bi-play-circle"></i> Começar
        </a>
    </div>
</div>
