@{
    ViewData["Title"] = "Início";
}

<div class="hero">
    <div class="overlay">
        <h1 class="display-4">Construa sua próxima história</h1>
        <p class="lead">Tecnologia, tradição e performance.</p>
        <a class="btn btn-outline-light btn-lg" href="/Funcionario">Começar</a>
    </div>
</div>
