@model GestaoAutomotiva.Models.Carro

<div class="page-container mt-4 animate__animated animate__fadeInDown">
    <h2 class="text-danger mb-3">
        <i class="bi bi-trash"></i> Excluir Carro
    </h2>

    <p class="mb-4">
        Tem certeza que deseja excluir o carro
        <strong class="text-warning">@Model.IdCarro</strong>
        modelo <strong class="text-warning">@Model.Modelo?.Nome?.ToUpper()</strong>?
    </p>

    <form method="post">
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-outline-danger px-4">
                <i class="bi bi-trash-fill"></i> Excluir
            </button>

            <a asp-action="Index" class="btn btn-outline-secondary px-4">
                <i class="bi bi-arrow-left-circle"></i> Cancelar
            </a>
        </div>
    </form>
</div>
