@model GestaoAutomotiva.Models.Atividade
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@{
    ViewData["Title"] = "Registrar Atividade";
}
<div class="container bg-dark bg-opacity-75 text-light rounded p-4 mt-4">

    <h2 class="text-light">Registrar Nova Atividade</h2>

    <form asp-action="Create" method="post" class="mt-4">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label text-light">Funcionário</label>
                <select asp-for="FuncionarioId" class="form-control" asp-items="@(ViewBag.Funcionarios as SelectList)">
                    <option value="">-- Selecione --</option>
                </select>
            </div>

            <div class="col-md-6">
                <label class="form-label text-light">Serviço</label>
                <select asp-for="ServicoId" class="form-control" asp-items="@(ViewBag.Servicos as SelectList)">
                    <option value="">-- Selecione --</option>
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <label class="form-label text-light">Carro</label>
                <select asp-for="CarroId" class="form-control" asp-items="@(ViewBag.Carros as SelectList)">
                    <option value="">-- Selecione --</option>
                </select>
                <span asp-validation-for="CarroId" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="DataInicio" class="form-label text-light">Data de Início</label>
                <input asp-for="DataInicio" type="date" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>

        </div>

        <!-- Botões de Salvar e Cancelar -->
        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-outline-light">Salvar Atividade</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>