@model GestaoAutomotiva.Models.Atividade

@{
    ViewData["Title"] = "Excluir Atividade";
}

<h2 class="text-light">Confirmar Exclusão</h2>

<div class="alert alert-warning">
    Tem certeza que deseja excluir a atividade do carro <strong>@Model.Carro</strong>
    Código do carro <strong>@Model.CarroId</strong> executada por
    <strong>@Model.Funcionario?.Nome</strong>?
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Confirmar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
