@model GestaoAutomotiva.Models.Atividade

@{
    ViewData["Title"] = "Excluir Atividade";
}
<div class="page-container mt-4 animate__animated animate__fadeInDown">
    <h2 class="text-danger mb-3">
        <i class="bi bi-trash"></i> Excluir Atividade
    </h2>

    <p class="mb-4">
        Tem certeza que deseja excluir a atividade do carro
        <span class="text-warning">@Model.Carro?.Modelo?.Nome</span>
        (código <strong class="text-warning">@Model.CarroId</strong>),
        executada por <strong class="text-warning">@Model.Funcionario?.Nome</strong>?
    </p>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-outline-danger px-4">
                <i class="bi bi-trash-fill"></i> Excluir
            </button>

            <a asp-action="Index" class="btn btn-outline-secondary px-4">
                <i class="bi bi-arrow-left-circle"></i> Cancelar
            </a>
        </div>
    </form>
</div>
<footer style="margin-top: 200px;"></footer>