@model GestaoAutomotiva.Models.Funcionario

<div class="page-container mt-4 animate__animated animate__fadeInDown">
    <h2 class="text-white mb-4">
        <img src="~/images/Icones/funcionario.png" width="48" height="48" /> Editar Funcionário
    </h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="row mb-4">
            <!-- Nome -->
            <div class="col-md-4">
                <label asp-for="Nome" class="form-label">Nome</label>
                <input asp-for="Nome" class="form-control select-light  text-uppercase" />
                <span asp-validation-for="Nome" class="text-danger small"></span>
            </div>

            <!-- Especialidade -->
            <div class="col-md-4">
                <label asp-for="Especialidade" class="form-label">Especialidade</label>
                <input asp-for="Especialidade" class="form-control select-light  text-uppercase" />
                <span asp-validation-for="Especialidade" class="text-danger small"></span>
            </div>

            <!-- Status -->
            <div class="col-md-4">
                <label asp-for="Status" class="form-label">Status</label>
                <select asp-for="Status" class="form-control text-uppercase" id="statusSelect">
                    <option value="">Selecione</option>
                    <option value="Disponível">Disponível</option>
                    <option value="Ocupado">Ocupado</option>
                </select>
                <span asp-validation-for="Status" class="text-danger small"></span>
            </div>
        </div>

        <!-- Botões -->
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-outline-success px-4">
                <i class="bi bi-save"></i> Salvar
            </button>

            <a class="btn btn-outline-secondary px-4" asp-action="Index">
                <i class="bi bi-arrow-left-circle"></i> Cancelar
            </a>
        </div>
    </form>
</div>
<footer style="margin-top: 200px;"></footer>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const selectStatus = document.getElementById("statusSelect");

            if (selectStatus) {
                function atualizarClasseSelect() {
                    if (selectStatus.value !== "") {
                        selectStatus.classList.add("select-light");
                    } else {
                        selectStatus.classList.remove("select-light");
                    }
                }

                atualizarClasseSelect(); // Chama ao carregar

                selectStatus.addEventListener("change", atualizarClasseSelect);
            }
        });
    </script>

}
